/* Fonts
--------------------------------*/

@font-face {
    font-family: 'Better Together';
    src: url(../fonts/bettertogether.otf);
}

/* Global styles
--------------------------------*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 70%;
}

h2 {
    font-size: 3.75rem;
    color: rgb(83, 154, 225);
    margin-bottom: 4.5%;
}

ul {
    list-style-type: none;
}

/* Header and Footer
--------------------------------*/

header {
    position: relative;
    background: url("../images/header.png") no-repeat;
    background-size: 100% 100%;
    min-height: 800px;
    height: auto;
    width: 100%;
}

nav {
    background-color: rgb(255, 255, 255, 0.149);
}

#logo {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}

.nav-menu {
    display: flex;
    justify-content: center;
    margin-left: 8%;
}

.nav-menu li {
    padding: 67px 23px;
}

.nav-menu li a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-header {
    float: right;
    margin-top: 5.5%;
    font-size: 16px;
    font-weight: 800;
    color: rgb(103, 150, 206);
    text-transform: uppercase;
    padding: 1% 5%;
    border-radius: 25px;
    border: 0;
    background: white;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Better Together', Helvetica, sans-serif;
    color: white;
    font-size: 7rem;
}

/* About the Alps
--------------------------------*/

.container.about {
    display: flex;
}

.container.about p {
    /* line-height: 1.5rem; */
    font-size: 18px;
    color: rgb(103, 150, 206);
    line-height: 2;
}

.alps-info {
    width: 60%;
}